node_modules/

dist/
build/
out/
*.tsbuildinfo

.env
.env.*
!.env.example

logs/
*.log
npm-debug.log*
pnpm-debug.log*

coverage/
.nyc_output/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

tmp/
temp/
*.local

.vscode/*

**/pnpm-lock.yaml
!/pnpm-lock.yaml